
h1 {
    font-size: 4em;
    margin: unset;
}
body {
    font-family: "Roboto", sans-serif;
}
.nav-links{
    padding: unset;
    gap: 26px;

}

.nav-links li{
    padding: 15px 0px;
}


nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation{
    display:flex;
    flex-wrap: wrap;
}


.width {
    width: 100%;
}
.stack {
    flex-direction: row;

}

.wrap{

    flex-direction: row;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    justify-content: space-between;
    text-align: center;

}


.container.bigger {
    width: 100%;
}
.hidden{
    /*border: 2px solid #CCCCCC;*/
}

.hidden-on-desktop {
    display: none;
    background-color: #ccfffe;
    border: 2px solid #cccccc ;
    padding: 15px 0px;
    width: 100%;
    justify-content: center;
    margin-top: 15px;

}

p{
    margin: unset;
}

.column.second-section{
    flex: 0 0 35%;
}


footer.container{
    margin-top: 85px;
}

.header-img img {
    width: 100%;

}

.logo{
    justify-content: flex-start;
}

.row.justify-center {
    margin: 20px;
    justify-content: center;
}

#social-media-links{
   flex-direction: row-reverse;
    display: flex;
}

#social-media-links img{

    max-height: 3em;

}



@media only screen and (max-width: 559px){

    .hidden-on-desktop{
        display: flex;

    }
    .sub-section{
        flex-direction: column;
    }

    .wrap{
        flex-direction: column;
    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }


    li {
        justify-content: space-between;
        background-color: #cccccc;
        text-align: center;
    }

    .logo{
        align-items: center;
    }

}
    /*.header-txt{*/
    /*    padding: 0 10em;*/
    /*}*/